@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    
}

body {
    display: flex;
    background-color: #f4f4f4;;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.1);

}
.container::before {
    content: "";
    position: absolute;
    top: 370px;
    left: 0px;
    height: 26%;
    width: 100%;
    z-index: 0;
    border-radius: 0px 0px 24px 24px; 
    background-color: gray;
    /* bu bizim renkli gri kısmı yaptık*/
}

.photo {
    margin-bottom: px;
    position: relative;
    height: 120px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    z-index: 1;
}

.media-buttons {
  position: absolute;
  top: 40px;
  right: -25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.media-buttons .link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #4070f4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 45px;

  text-decoration: none;
}

.link.youtube {
    background-color: red; 
}
.link.ig{
    background-color: #e1306c;
}
.link.twit{
    background-color: #1DA1F2;
}


.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1;
}


.text1 {
    font-size: 30px;
    margin-bottom: 10px;
    z-index: 1;
}

.text2 {
    font-size: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.text3 {
    display: flex;
    font-size: 12px;
    margin-left: 62px;
    margin-right: 58px;
    z-index: 1;

}
.text4 {
    font-size: 12px;
    z-index: 1;
}

.button {
    border-radius: 20px;
    background-color: #393939;
    border: none;
    color: white;
    width: 120px;
    height: 39px;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 1;
}
.message {
    background-color: white;
    color: #393939;
    border: 1.2px solid #393939;
    z-index: 1;
}

.other_texts {
    display: flex;
    z-index: 1;
    justify-content: left;
    align-items:flex-start
}

.skills {
    z-index: 1;
    margin-top: 30px;
    margin-right: 300px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.line {
    display: flex;
    z-index: 1;
}

.hr {
    border: none ;
    z-index: 1;
    height: 1px;
    width: 350px;
    margin-right: 10px;
    background-color: #393939;
}

.tags1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 1px 6px;
    z-index: 1;
    margin-left: 4px;
    margin-right: 40px;
}

.tags2 {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 4px 4px;
    margin-left: px;
    margin-right: 4px;
}

.tag {
    background-color: #393939;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    gap: 10px 30px;
    

}
